/* General Reset and Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: var(--font), sans-serif;
}
input,textarea,select {
  text-transform: none !important;
}
::after,
::before {
  pointer-events: none;
}




.contact{
  text-transform: uppercase !important;
}

.no-pb{
  padding-bottom: 0 !important;
}


input,textarea,select{
  transition: 0.3s background ease;
}



::placeholder {
  transform-origin: right;
  transition: var(--transition);
}

input:focus::placeholder,
textarea:focus::placeholder {
  scale: 0.85;
  transform: translateY(-12px);
}

::selection {
  background-color: var(--footer-bg);
  color: white;
}

*[data-aos] {
  will-change: opacity, transform;
}
select,option{
  text-transform: capitalize !important;
}


::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
.redColor{
  color: var(--footer-bg);
}
::-webkit-scrollbar-track {
  background: rgb(226, 225, 225);
}

::-webkit-scrollbar-thumb {
  background: var(--footer-bg);
  cursor: grab;
}
::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

body {
  overflow-x: hidden;
}

body,
main {
  background-color: whitesmoke;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
body {
  overflow-x: hidden;
}



main {
  flex-grow: 1;
  /* overflow: hidden; Removed to allow scroll */
}

footer {
  margin-top: auto;
}

header,
footer,
section {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding-block: 50px;
}

select {
  appearance: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

img,
svg {
  height: 100%;
  vertical-align: middle;
}

img {
  width: 100%;
}
svg,i {
  transition: var(--transition);
}
a,
button {
  cursor: pointer;
  text-decoration: none;
  transition: var(--transition);
}

img,
svg,
i,
path,
button,
a,
dialog,
video {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6{
  line-height: 1.1;
}
p {
  line-height: 1.5;
}

.container {
  padding-inline: 1rem;
  margin: auto;
  height: 100%;
}

.fullScreen {
  min-height: 100vh;
  min-height: 100dvh;
}

.inputHolder {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  input,
  textarea {
    padding: 1rem 2rem;
    border-radius: 6px;
    text-transform: none !important;
    resize: none;
    font-size: 1.125rem;
    border: 1px solid var(--primary-color);
    direction: rtl;
  }
  textarea {
    height: 200px;
  }
}

::placeholder {
  color: var(--primary-color);
  opacity: 0.75;
  min-height: 24px;
}

/* ======CONTAINER MEDIA============= */

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 992px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1340px;
  }
}
